/* 
 * We can override Bootstrap variables here
 * $body-bg: lightgray;
 */

html,
body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.site-index {
  .jumbotron {
    text-align: center;
    background-color: transparent;
  }
  .block {
    padding-top: 30px;
    &:first-child {
      padding-top: 0px;
    }
  }
}

.site-contact {
  .mailing-list-container {
    margin: 0 0 10px;
  }
}

#checkin-form {
  .btn {
    white-space: normal;
    margin-bottom: 4px;
  }
  .control-label {
    font-size: 16px;
  }
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.not-set {
	color: #c55;
	font-style: italic;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

.well {
  button.btn {
    white-space: normal;
  }
}

#spinner {
  text-align: center;
}

.navbar-brand h1 {
  font-size: inherit;
  margin: inherit;
  margin-top: inherit;
  margin-bottom: inherit;
  font-weight: inherit;
  font-height: inherit;
}

.indent {
  margin-left: 10px;
}

@import "pickadate";
@import "bootstrap-custom";

.site-signup {
  .input-group-btn {
    button {
      background-color: $gray-lighter;
    }
  }
}

.site-index {
  .post {
    margin: 15px 0px;
    .post-heading {
      a {
        color: $text-color;
        &:hover {
          text-decoration: none;
        }
      }
      h3 {
        margin-bottom: 0px;
      }
    }
    .post-body {
      padding-left: 25px;
    }
  }
}

.site-profile {
  .score-graph-info {
    overflow: auto;
    #score-graph-link {
      white-space: nowrap;
    }
  }
}

.checkin-view {
  #past-checkin-nav {
    input#datepicker {
      cursor: pointer;
      color: #333;
      background-color: #fff;
      border-color: #ccc;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      box-shadow: none;
      &:hover {
        background-color: #e6e6e6;
        border-color: #adadad;
      }
    }
  }
}

.card {
  margin-bottom: 30px;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;

  .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0,0,0,.125);
  }
  .card-body, .card-block {
    padding: 1.25rem;
    .card-title {
      margin-bottom: .75rem;
    }
  }
}
